* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;

}

body {
  position: relative;
}

:root {
  --nav-para: 'Roboto Condensed', sans-serif;
  --carousel-heading: 'Alkatra', cursive;
  --welcome-para: 'Roboto Mono', monospace;

}

nav ul li {
  font-family: var(--nav-para);
  margin: 0px 20px;
}

.carousel-heading {
  font-family: var(--carousel-heading);
  font-size: 40px;
}

.navbar {
  transition: all 0.5s;
}

.nav-scrolled {
  background-color: black;
  box-shadow: 0 3px rgba(0, 0, 0, .15);
}

.book-btn {
  cursor: pointer;
  transition: all 0.2s;

}

.book-btn:hover {
  background-color: goldenrod;
  border: 2px goldenrod solid !important;
  color: white !important;
  transform: translateY(-2px);
}

.btn-book {
  cursor: pointer;
  transition: all 0.3s;
}

.btn-book:hover {
  transform: translateX(-2px);
}

.welcome-para {
  font-family: var(--welcome-para);
}

html {
  scroll-behavior: smooth;
}

.ingredient-container {
  background: url(../Img/ingredients.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.foodStuff {
  background: url(../Img/foodstuffs.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 0;
  background: lightgray;
  text-align: center;
  font-family: sans-serif;
  color: #fefefe;
}

.contained {
  position: relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}

.carousel-rotate {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
}

.carousel__fade {
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  display: flex;
}

span {
  margin: auto;
  font-size: 2rem;
}

.order-btn {
  cursor: pointer;
}

.carousel__fade:nth-child(1) {
  background-image: url("../Img/eating1.jpg");
  transform: rotateY(0deg) translateZ(430px);
  background-size: cover;
  background-position: center;
}

.carousel__fade:nth-child(2) {
  background-image: url("../Img/eating2.jpg");
  transform: rotateY(40deg) translateZ(430px);
  background-size: cover;
  background-position: center;
}

.carousel__fade:nth-child(3) {
  background-image: url("../Img/eating3.jpg");
  transform: rotateY(80deg) translateZ(430px);
  background-size: cover;
  background-position: center;
}

.carousel__fade:nth-child(4) {
  background-image: url("../Img/eating4.jpg");
  transform: rotateY(120deg) translateZ(430px);
  background-size: cover;
  background-position: center;
}

.carousel__fade:nth-child(5) {
  background-image: url("../Img/eating5.jpg");
  transform: rotateY(160deg) translateZ(430px);
  background-size: cover;
  background-position: center;
}

.carousel__fade:nth-child(6) {
  background-image: url("../Img/eating6.jpg");
  transform: rotateY(200deg) translateZ(430px);
  background-size: cover;
  background-position: center;
}

.carousel__fade:nth-child(7) {
  background-image: url("../Img/eating7.jpg");
  transform: rotateY(240deg) translateZ(430px);
  background-size: cover;
  background-position: center;
}

.carousel__fade:nth-child(8) {
  background-image: url("../Img/eating8.jpg");
  transform: rotateY(280deg) translateZ(430px);
  background-size: cover;
  background-position: center;
}

.carousel__fade:nth-child(9) {
  background-image: url("../Img/eating9.jpg");
  transform: rotateY(320deg) translateZ(430px);
  background-size: cover;
  background-position: center;
}

.gallery-container-sm {
  display: none !important;
}

.Testimonials-bg {
  background: url(../Img/Testimonials.jpg);
  object-fit: cover;
  object-position: center;
}

.colorBtn {
  color: purple !important;
}

.bigResturant {
  background: url(../img/bigResturant.jpg);
  background-position: center;
  background-size: cover;
}

.form-row {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

form select,
form input {
  width: 100%;
  display: block;
  margin: 15px 12px;
  padding: 5px;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  border-bottom: 1px solid #eee;
  font-weight: 300;
}

form input[type=submit] {
  background-color: purple;
  color: white;
  padding: 12px 0px;
}

.button {
  margin: 50px;
}

.button button {
  background: #333;
  color: #fff;
  border: 0;
  outline: 0;
  width: 120px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: goldenrod !important;
  /* background-color: var(--bs-nav-tabs-link-active-bg); */
  /* border-color: var(--bs-nav-tabs-link-active-border-color) */
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link{
  color: black !important;
}
@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-320deg);
  }
}

@media only screen and (max-width: 769px) {
  .carousel-rotate {
    display: none !important;
  }

  .gallery-container-sm {
    display: block !important;
  }
  .carousel-heading {
    font-size: 22px !important;
  }
  .ingredient-container {
    height: fit-content !important;
  }

  .ingredient-contained {
    height: fit-content !important;
  }

  .more-btn {
    margin: auto !important;
  }

  .about-paragraph {
    text-align: center !important;
  }

  .form-img {
    width: 100% !important;
    display: block !important;
  }

  .form-box {
    width: 100% !important;
  }

  .bigResturant {
    height: fit-content !important;
  }

  .gallery-box {
    width: 100% !important;
  }
  .carousel-paragragh{
  font-size: 13px !important;
  }
  .div-position{
    position: absolute !important;
    top: 20% !important;
  }
  
 
}

@media only screen and (max-width:992px) {
  .carousel-rotate {
    display: none !important;
  }

  .gallery-container-sm {
    display: flex !important;
    justify-content: space-between !important;
  }

  .ingredient-container {
    height: fit-content !important;
  }

  .ingredient-contained {
    height: fit-content !important;
  }

  .more-btn {
    margin: auto !important;
  }

  .about-paragraph {
    text-align: center !important;
  }

  .chef-images {
    height: 500px !important;
  }


  /* .form-img{
    width: 100% !important;
    display: block !important;
   }
   .form-box{
    width: 100% !important;
   }
   .bigResturant{
    height: fit-content !important;
   } */
}